div.document .bank-summary {
    padding: 8px 0 4px 0;
}

div.document ul.group a {
    padding: 6px 8px;
}

div.document #ItemsToReconcile {
    padding: 16px;
    padding-top: 8px;
}

div.document #ItemsToReconcile div.headings {
    margin-bottom: 6px;
}

#ItemsToReconcile .headings.line {
    margin-top: 6px;
}

#ItemsToReconcile .line:not(.headings) .statement:not(.bank-transaction) .tabs a {
    padding: 3px 20px 2px 20px;
}

#ItemsToReconcile .line:not(.headings) .statement:not(.bank-transaction) .tabs a.t5 { 
    padding: 4px 16px 2px 18px;
    height: 24px;
}

#ItemsToReconcile .line:not(.headings) .statement:not(.bank-transaction) .tabs {
    height: 24px;
}

#ItemsToReconcile .line:not(.headings) .statement:not(.bank-transaction) .x-form-field-wrap input.x-form-text input, #ItemsToReconcile .line:not(.headings) .statement:not(.bank-transaction) .field input, #ItemsToReconcile .line:not(.headings) .statement:not(.bank-transaction) .x-form-field-wrap input.x-form-text .dd .legacy-control, #ItemsToReconcile .line:not(.headings) .statement:not(.bank-transaction) .field .dd .legacy-control, div.autocomplete>div>div, #ItemsToReconcile .line:not(.headings) .statement:not(.bank-transaction) .info.c2 .apply-tracking .x-form-field-wrap.x-form-field-trigger-wrap .x-form-text.x-form-field, #ItemsToReconcile .line:not(.headings) .statement:not(.bank-transaction) .info.c2 .apply-tracking .onRight a {
    padding: 2px 8px 2px 8px;
}

#ItemsToReconcile .statement.bank-transaction {
    margin-top: 24px;
}

#ItemsToReconcile .line:not(.headings) .statement:not(.bank-transaction) .info.c2 .field.name, #ItemsToReconcile .line:not(.headings) .statement:not(.bank-transaction) .info.c2 .field.acct, #ItemsToReconcile .line:not(.headings) .statement:not(.bank-transaction) .info.c2 .field.desc {
    margin-top: 10px;
}

#ItemsToReconcile .line:not(.headings) .statement:not(.bank-transaction) .info.c2 .apply-tracking .x-form-field-wrap.x-form-field-trigger-wrap::after {
    top: 8px;
}

#ItemsToReconcile .line:not(.opened) {
    margin-bottom: 12px;
}

.bridge-lower .pagination {
    margin-top: 4px;
}

.bridge-lower .pagination #mainPagerLabel {
    line-height: 24px;
}

.bridge-lower .pagination .pagerDirections .suggestMemorisationToggle {
    height: 24px;
}

.bridge-lower .pagination .suggestMemorisationToggle {
    margin-right:8px
}

div.statement div.details-container > div.details > span:nth-child(2) {
    white-space: nowrap;
    max-width: 283px;
}

div.tip {
    visibility: hidden;
    display: none;
}

#ItemsToReconcile .line:not(.headings) .statement:not(.bank-transaction) .info.c1 .batched-mismatch-details.visible+a {
    margin-top: 8px;
    margin-bottom: 6px;
}

#ItemsToReconcile .line:not(.headings) .statement:not(.bank-transaction) .info.c1 .batched-mismatch-header, #ItemsToReconcile .line:not(.headings) .statement:not(.bank-transaction) .info.c1 .icon.batched-mismatch-icon { 
    margin-top: 2px;
    width: 24p
}

#ItemsToReconcile .headings.line {
    margin-top: 2px;
}

#ItemsToReconcile .statement.bank-transaction .details span, #ItemsToReconcile .statement.bank-transaction .details strong, #ItemsToReconcile .statement.bank-transaction .details a, #ItemsToReconcile .line:not(.headings) .statement:not(.bank-transaction) .tabs a {
    font-size: 12px;
}

#ItemsToReconcile .line:not(.headings) .statement:not(.bank-transaction) .info.c2 .apply-tracking {
    margin-top: 8px;
}

#ItemsToReconcile .line:not(.headings) .statement:not(.bank-transaction) .info.c1 .batched-mismatch-header strong {
    margin-top: 4px;
}
